nav {
    margin: 0 auto;
    max-width: auto;

    font-family: 'Oleo Script', cursive;
    padding: 0;
    background-color: #850000ff;
}

.navigation li:first-child {
    display: block;
    list-style: none;
}

.navigation li {
    list-style: none;
    display: none;

}

nav ul {
    padding: 0;
}

.responsive li {
    display: block;
}

.navigation a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 20px;

}

.navigation a:hover {
    color: white;
    background-color: black;

}

.logo {
    width: 190px;
    grid-row: 1;



}

header {

    grid-template-rows: 1fr 1fr;
    grid-template-columns: none;
    align-content: center;
    background-color: #909090;
    ;
    color: #f2f2f2ff;


}

.top {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center
}


header h1 {
    grid-row: 1;
    grid-column: all;
    font-size: 55px;
    font-family: 'Bebas Neue', cursive;
    
}

p {
    font-size: 19px;
    font-family: 'Spectral', serif;
}

header p {
    grid-column: 1/3;
    text-align: center;
    justify-content: center;
    margin: auto;

}

footer {
    display: flex;
    background-color: #909090;
    text-align: center;
    justify-content: center;
    color: #f2f2f2ff;
    font-size: 20px;
    font-family: 'Spectral', serif;
    margin-left: 100px;
    margin-right: 100px;
}

main {
    margin-left: 100px;
    margin-right: 100px;
}

footer p {
    padding: 0em 1em 0em 0em;
}

main div {
    height: 10em;
    display: flex;
    background-color: #000000ff;
    color: #f2f2f2ff;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    justify-content: center;
}

h2 {
    text-align: center;
    justify-content: center;
    font-size: 35px;
    font-family: 'Cinzel', serif
}

body {}